{% macro invoke_data_attributes(item) %}
    {% for key, value in item %}
        data-{{key}}="{{ value }}"
    {% endfor %}
{% endmacro %}

{% set additional_fields = additional_fields ?: [] %}
{% set locales = app.config.get('general/locales') %}
{% for key, locale in locales %}
    {% if additional_fields[locale.slug~'label'] is not defined and not loop.first %}
        {% set additional_fields = additional_fields|merge({(locale.slug~'label') : {
            label : __('label') ~ ' (' ~ locale.label ~ ')'
        } }) %}
    {% endif %}
{% endfor %}

<li class="dd-item dd3-item" {{ _self.invoke_data_attributes(item) }}>
    <div class="dd-handle dd3-handle"></div>
    <div class="dd3-content">{% if item.label == '' %}<em>{{ __("no label set") }}</em>{% else %}{{ item.label }}{% endif %}</div>
    <div class="dd-edit dd3-edit pull-right"></div>
    <div class="dd-editpanel well hidden">
        {% if item.link is not defined %}
            <div class="left-inner-addon">
                <label><span>{{ __("path")|capitalize }}</span>
                <i class="fa fa-bolt"></i>
                <input class="me-input form-control" type="text" value="{{ item.path }}" {% if pathsEditable|default(true) %}data-tag="path"{% else %}disabled="disabled"{% endif %}>
                </label>
            </div>
        {% endif %}
        {% if item.link is defined %}
            <div class="left-inner-addon">
                <label><span>{{ __("link")|capitalize }}</span>
                <i class="fa fa-link"></i>
                <input class="me-input form-control" type="text" data-tag="link" value="{{ item.link }}" placeholder="{{ __("link")|capitalize }}">
                </label>
            </div>
        {% endif %}
        <div class="left-inner-addon">
            <label><span>{{ __("label")|capitalize }}</span>
            <i class="fa fa-tag"></i>
            <input class="me-input form-control" type="text" data-tag="label" value="{{ item.label }}" placeholder="{{ __("label")|capitalize }}">
            </label>
        </div>
        {% for key, field in additional_fields %}
            <div class="left-inner-addon">
                <label><span>{{ field.label|capitalize }}</span>
                <i class="fa {{ field.icon ?: 'fa-tags' }}"></i>
                <input class="me-input form-control" type="text" data-tag="{{key}}" value="{{ item[key] }}" placeholder="{{ field.label|capitalize }}">
                </label>
            </div>
        {% endfor %}
        <div class="left-inner-addon">
            <label><span>{{ __("title")|capitalize }}</span>
            <i class="fa fa-terminal"></i>
            <input class="me-input form-control" type="text" data-tag="title"{% if item.title is defined %} value="{{ item.title }}"{% endif %} placeholder="{{ __("title")|capitalize }}">
            </label>
        </div>
        <div class="left-inner-addon">
            <label><span>{{ __("css classes") }}</span>
            <i class="fa fa-eye"></i>
            <input class="me-input form-control" type="text" data-tag="class"{% if item.class is defined %} value="{{ item.class }}"{% endif %} placeholder="{{ __("css classes") }}">
            </label>
        </div>

        <button type="button" class="btn btn-primary me-updateitem">{{ __("Save") }}</button>
        <button type="button" class="btn btn-danger me-deleteitem">{{ __("Remove from menu") }}</button>
    </div>

    {% if item.submenu is defined %}
        <ol class="dd-list">
            {% for submenu in item.submenu %}
                {% include '@MenuEditor/_menuitem.twig' with {item: submenu} %}
            {% endfor %}
        </ol>
    {% endif %}

</li>
