{% extends "_base/_page-nav.twig" %}

{% block page_title __('Menu editor') %}
{% block page_nav 'Settings/Extensions' %}


{% block page_main %}

    <div id="menu-editor-extension">
        {% block messages %}
            {% include '@MenuEditor/_messages.twig' with { 'wrapper': true } %}
        {% endblock messages %}

        {% include '@MenuEditor/_locales.twig' %}

        <div class="row">
            <div class="col-md-8">

                <ul class="nav nav-tabs" id="filtertabs">

                    {% for menu in menus|keys %}
                    <li{% if loop.first %} class="active"{% endif %}><a href="javascript: null;" class="filter" data-filter="me-tab-{{ loop.index0 }}">{{ menu }}</a></li>
                    {% endfor %}

                    {% if allowCreateNew %}
                    <li><a class="filter" data-filter="_add-new-menu"><i class="fa fa-plus"></i>&nbsp;</a></li>
                    {% endif %}

                </ul>

                {% for menuname,menu in menus %}
                    {% include '@MenuEditor/_menu.twig' with {menu: menu} %}
                {% endfor %}

                <div class="tabgrouping" data-tab="_add-new-menu" style="display: none">
                    <input type="text" id="me-addmenu-name" placeholder="{{ __("Name of new menu") }}"><br />
                    <button type="button" class="btn btn-primary" id="me-addmenu">{{ __("Add new menu") }}</button>
                </div>

            </div>

            <aside class="col-md-4">
                <section>
                    <h2>{{ __("Actions") }}</h2>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" id="savemenus">{{ __("Save") }}</button>
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="me-actionmenu" role="actionmenu">
                            <li><a href="" class="btn btn-warning btn-mini me-revert-changes" type="button">{{ __("Revert changes") }}</a></li>

                            <li><a href="" class="btn btn-warning btn-mini" data-toggle="modal" data-target="#readmeModal">{{ __("View Readme") }}</a></li>

                            <li><hr></li>

                            {% if backups|length > 0 %}
                            {% for backuptime,backup in backups %}
                            <li><a href="#" data-filetime="{{ backuptime }}" class="me-restoremenus">{{ __("Restore %filename%", {'%filename%': backuptime|date}) }}</a></li>
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                </section>

                <section>
                    <h4>{{ __('Contenttypes') }}</h4>
                    <div class="form-group">
                        <select name="me-addct-filter" class="form-control narrow me-addct-filter">
                            <option value="">{{ __('All content-types') }}</option>
                        {% for contenttype in contenttypes %}
                            <option value="{{ contenttype.name }}">{{contenttype.name}}</option>
                        {% endfor %}
                        </select>

                        <div name="me-addct" class="me-addct" style="margin-top: 10px;"></div>
                    </div>

                    <div style="margin-top: 0px;">
                        <div class="left-inner-addon ">
                            <i class="fa fa-tag"></i>
                            <input class="me-input" type="text" id="me-addct-label" placeholder="{{ __("label") }}">
                        </div>
                        <div class="left-inner-addon ">
                            <i class="fa fa-terminal"></i>
                            <input class="me-input" type="text" id="me-addct-title" placeholder="{{ __("title") }}">
                        </div>
                        <div class="left-inner-addon ">
                            <i class="fa fa-eye"></i>
                            <input class="me-input" type="text" id="me-addct-class" placeholder="{{ __("css classes") }}">
                        </div>

                        <input class="me-input" type="hidden" id="me-addct-path">
                    </div>
                    <button type="button" class="btn btn-tertiary me-additem" id="me-addct">{{ __("Add to menu") }}</button>
                </section>

                <section>
                    <h4>{{ __("Special elements") }}</h4>
                    <select name="me-addsp" class="me-addsp">
                        <option value="0">{{ __('Please choose') }}</option>
                        <optgroup label="{{ __("Generic") }}">
                            <option value="homepage">{{ __("Homepage") }}</option>
                            {% for contenttype in contenttypes %}
                                <option value="{{ contenttype.slug }}">{{ __("Overview of all") }} {{ __(contenttype.name) }}</option>
                            {% endfor %}
                            {% for taxonomy in taxonomys %}
                                <option value="{{ taxonomy.slug }}">{{ __("Overview of all") }} {{ __(taxonomy.name) }}</option>
                            {% endfor %}
                        </optgroup>

                        {% for taxonomy in taxonomys %}
                        <optgroup label="{{ __(taxonomy.name) }}">
                            {% for path,label in taxonomy.me_options %}
                                <option value="{{ path }}">{{ label }}</option>
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>
                    <div style="margin-top: 10px;">
                        <div class="left-inner-addon ">
                            <i class="fa fa-tag"></i>
                            <input class="me-input" type="text" id="me-addsp-label" placeholder="{{ __("label") }}">
                        </div>
                        <div class="left-inner-addon ">
                            <i class="fa fa-terminal"></i>
                            <input class="me-input" type="text" id="me-addsp-title" placeholder="{{ __("title") }}">
                        </div>
                        <div class="left-inner-addon ">
                            <i class="fa fa-eye"></i>
                            <input class="me-input" type="text" id="me-addsp-class" placeholder="{{ __("css classes") }}">
                        </div>
                        <input class="me-input" type="hidden" id="me-addsp-path">
                    </div>
                    <button type="button" class="btn btn-tertiary me-additem" id="me-addsp">{{ __("Add to menu") }}</button>
                </section>

                <section>
                    <h4>{{ __("Links") }}</h4>
                    <div class="left-inner-addon ">
                        <i class="fa fa-tag"></i>
                        <input class="me-input" type="text" class="form-control" id="me-addurl-label" placeholder="{{ __("label") }}">
                    </div>
                    <div class="left-inner-addon ">
                        <i class="fa fa-link"></i>
                        <input class="me-input" type="text" id="me-addurl-link" placeholder="http://">
                    </div>
                    <div class="left-inner-addon ">
                        <i class="fa fa-terminal"></i>
                        <input class="me-input" type="text" id="me-addurl-title" placeholder="{{ __("title") }}">
                    </div>
                    <div class="left-inner-addon ">
                        <i class="fa fa-eye"></i>
                        <input class="me-input" type="text" id="me-addurl-class" placeholder="{{ __("css classes") }}">
                    </div>
                    <button type="button" class="btn btn-tertiary me-additem" id="me-addurl">{{ __("Add to menu") }}</button>
                </section>

            </aside>
        </div>

        <div class="modal fade" id="readmeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">&nbsp;</h4>
                    </div>
                    <div class="modal-body">
                        {{ readme|raw }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}