{# function for adding fields. Returns a text input if no type is given #}
{% macro field(key, value, id, menu_config, name, menuitem, item) %}
    {% import _self as fields %}

    {# delete defaults to true #}
    {% set delete = true %}

    {# If you're not allowed to add fields you also may not delete them #}
    {% if menu_config.addcustomfields is defined and menu_config.addcustomfields == false %}
        {% set delete = false %}
    {% elseif menu_config.menufields is defined %}
        {# Check if delete is set. Defaults to true #}
        {% set delete = menu_config.menufields[name][key].delete is defined ? menu_config.menufields[name][key].delete : true %}
    {% endif %}

    {% if menu_config.menufields[name][key] is defined %}
        {# set default field type #}
        {% set type = 'text' %}
        {% if menu_config.menufields[name][key].type is defined %}
            {% set type = menu_config.menufields[name][key].type %}
        {% endif %}

        {% if type == 'text' %}
            {{ fields.textfield(key, value, id, delete) }}
        {% elseif type == 'select' %}
            {{ fields.select(key, value, id, menu_config.menufields[name][key].values, delete) }}
        {% elseif type == 'checkbox' %}
            {{ fields.checkbox(key, value, id, delete) }}
        {% elseif type == 'textarea' %}
            {{ fields.textarea(key, value, id, delete) }}
        {% else %}
            {{ fields.textfield(key, value, id, delete) }}
        {% endif %}
    {% elseif item is not null %}
        {% if menuitem[item.key] is not defined %}
            {{ fields.textfield(item.key, item.value, id, delete) }}
        {% endif %}
    {% else %}
        {{ fields.textfield(key, value, id, delete) }}
    {% endif %}
{% endmacro %}

{# Generate a textfield #}
{% macro textfield(key, value, id, delete) %}
    <div class="form-group" id="group-{{ id }}-{{ key }}">
        <label class="col-sm-3 control-label">{{ __(key)|humanize }}</label>
        <div class="col-sm-9">
            {% if delete %}
            <div class="input-group">
            {% endif %}
                <input type="text" class="form-control" placeholder="{{ __(key)|humanize }}" name="{{ key }}"
                       value="{{ value }}">
            {% if delete %}
                <div class="btn btn-silent-danger remove-field input-group-addon" data-id="{{ id }}"
                     data-key="{{ key }}"
                     title="{{ __('menueditor.actions.removefield', {'DEFAULT': 'Remove field'}) }}">
                    <i class="fa fa-remove"></i>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{# Generate a textarea #}
{% macro textarea(key, value, id, delete) %}
    <div class="form-group" id="group-{{ id }}-{{ key }}">
        <label class="col-sm-3 control-label">{{ __(key)|humanize }}</label>
        <div class="col-sm-9">
            {% if delete %}
            <div class="input-group">
            {% endif %}
                <textarea class="form-control" placeholder="{{ __(key)|humanize }}"
                          name="{{ key }}">{{ value }}</textarea>

            {% if delete %}
                <div class="btn btn-silent-danger remove-field input-group-addon" data-id="{{ id }}"
                     data-key="{{ key }}"
                     title="{{ __('menueditor.actions.removefield', {'DEFAULT': 'Remove field'}) }}">
                    <i class="fa fa-remove"></i>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{# Generate a select field with options #}
{% macro select(key, value, id, values, delete) %}
    <div class="form-group" id="group-{{ id }}-{{ key }}">
        <label class="col-sm-3 control-label">{{ __(key)|humanize }}</label>
        <div class="col-sm-9">
            {% if delete %}
            <div class="input-group">
            {% endif %}
                <select name="{{ key }}" class="form-control">
                    <option value="none">{{ __('general.phrase.select') }}</option>
                    {% for name, label in values %}
                        <option value="{{ name }}" {{ value == name ? 'selected="selected"' : '' }}>{{ label }}</option>
                    {% endfor %}
                </select>

            {% if delete %}
                <div class="btn btn-silent-danger remove-field input-group-addon" data-id="{{ id }}"
                     data-key="{{ key }}"
                     title="{{ __('menueditor.actions.removefield', {'DEFAULT': 'Remove field'}) }}">
                    <i class="fa fa-remove"></i>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{# Add a checkbox #}
{% macro checkbox(key, value, id, delete) %}
    <div class="form-group" id="group-{{ id }}-{{ key }}">
        <label class="col-sm-3 control-label">{{ __(key)|humanize }}</label>
        <div class="col-sm-7 col-xs-8">
            <input type="checkbox" name="{{ key }}" value="true" {{ value ? 'checked="checked"' : '' }}>
        </div>

        <div class="col-sm-2 col-xs-3">
        {% if delete %}
            <button class="btn btn-silent-danger remove-field pull-right" data-id="{{ id }}" data-key="{{ key }}"
                    title="{{ __('menueditor.actions.removefield', {'DEFAULT': 'Remove field'}) }}">
                <i class="fa fa-remove"></i>
            </button>
        {% endif %}
        </div>

    </div>
{% endmacro %}
