{% extends "_base/_page-nav.twig" %}

{% block page_title %}
<form type="post" class="saveform" method="post">
    <input type="hidden" name="menus" value="">
    <div class="form-group">
        <button type="submit" class="btn btn-success" data-content="{{ __('menueditor.actions.save')}} "> <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>
</form>
{{ __('menueditor.title')}}
{% endblock %}
{% block page_nav 'Settings/Extensions' %}

{% macro menuitem(menuitem, id, menu_config) %}
    <li class="mjs-nestedSortable-expanded"{% for key, value in menuitem|merge(menu_config.fields) if key not in ['submenu'] %}data-{{key}}="{{value}}"{% endfor %} id="menuitem-{{id}}">
        <div>
            <div class="flex-row">
                <span title="{{ __('menueditor.action.showhidechildren')}}" class="no-grow disclose"><i class="fa fa-minus" aria-hidden="true"></i></span>
                <span title="{{ __('menueditor.action.showhideeditor')}}" class="no-grow expandEditor"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                <span class="itemTitle">{{menuitem.label}}</span>
                <span title="{{ __('menueditor.action.delete')}}" class="no-grow deleteMenu"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
            </div>

            <div class="form-horizontal editor" style="display:none;">
                <div class="fields">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{ __('menueditor.fields.label')}}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="{{ __('menueditor.fields.label')}}" name="label" value="{{menuitem.label}}">
                        </div>
                    </div>
                    {% for key, value in menuitem|merge(menu_config.fields) if key not in ['submenu', 'label'] %}
                        <div class="form-group" id="group-{{ id }}-{{ key }}">
                            <label class="col-sm-2 control-label">{{__(key)|humanize}}</label>
                            <div class="col-sm-8 col-xs-9">
                                <input type="text" class="form-control" placeholder="{{__(key)|humanize}}" name="{{key}}" value="{{value}}">
                            </div>
                            <div class="col-sm-2 col-xs-3">
                                <button class="btn btn-danger remove-field" data-id="{{id}}" data-key="{{key}}" title="{{ __('menueditor.actions.removefield')}}"><i class="fa fa-remove"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="footer clearfix text-right" id="footer{{ id }}">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#new-field" data-id="{{ id }}"><i class="fa fa-plus"></i> {{ __('menueditor.actions.addfield') }}</button>
                </div>
            </div>
        </div>
        <ol>
            {% for submenuitem in menuitem.submenu|default([]) %}
                {% set id = id ~ '-' ~ loop.index %}
                {{ _self.menuitem(submenuitem, id, menu_config)}}
            {% endfor %}
        </ol>

    </li>
{% endmacro %}

{% block page_main %}
    <div class="row">
        <div class="col-md-8 menus">
            <ul class="nav nav-tabs" role="tablist">
                {% for name, menu in menus %}
                    <li role="presentation" class="{{loop.first ? 'active'}}"><a href="#{{name}}" aria-controls="{{name}}" role="tab" data-toggle="tab">{{name}}</a></li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for name, menu in menus %}
                    <div role="tabpanel" class="tab-pane {{loop.first ? 'active'}}" id="{{name}}">
                        <ol class="sortable">
                            {% for menuitem in menu %}
                                {{ _self.menuitem(menuitem, loop.index, menu_config)}}
                            {% endfor %}
                        </ol>
                    </div>
                {% endfor %}
            </div>
        </div>

        <aside class="col-md-4 sidebar">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#add-menu-item" aria-controls="add-menu-item" role="tab" data-toggle="tab">{{ __('menueditor.actions.add')}}</a></li>
                {% if menu_config.backups.enable %}
                    <li role="presentation" class=""><a href="#restore-backups" aria-controls="restore-backups" role="tab" data-toggle="tab">{{ __('menueditor.actions.restorebackups')}}</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="add-menu-item">
                    <form class="form-horizontal additem">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-4 control-label">{{ __('menueditor.fields.label')}}</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="{{ __('menueditor.fields.label')}}" name="label">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="col-sm-4 control-label">{{ __('menueditor.fields.link')}}/{{ __('menueditor.fields.path')}}</label>
                            <div class="col-sm-8">
                                <select class="js-data-example-ajax" name="link" style="width: 100%;">
                                    {% for item in items|default([]) %}
                                        <option value="{{ item.link }}">{{item.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                {% if menu_config.backups.enable %}
                    <div role="tabpanel" class="tab-pane" id="restore-backups">
                        {% if backups %}
                            <table class="table">
                                <tr>
                                    <th>{{ __('menueditor.backups.from')}}
                                    <th>{{ __('menueditor.backups.date')}}
                                    <th>
                                {% for backup in backups %}
                                    <tr>
                                        <td>{{backup.carbon.diffForHumans()}}
                                        <td>{{backup.carbon.toDateTimeString()}}
                                        <td>
                                            <form method="post">
                                                <input type="hidden" name="backup" value="{{backup.filename}}">
                                                <button type="submit" class="btn btn-warning btn-xs">{{ __('menueditor.backups.restore')}}</button>
                                            </form>
                                {% endfor %}
                            </table>
                        {% else %}
                            <p>{{ __('menueditor.backups.nobackups')}}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </aside>
    </div>
    <script>var menuEditorTranslations = {{JsTranslations|raw}}</script>

    <!-- Modal -->
    <div class="modal fade" id="new-field" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ __('menueditor.modal.close') }}"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ __('menueditor.modal.title') }}</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" class="form-control" id="field-id">
                        <div class="form-group">
                            <label for="field-label" class="control-label">{{ __('menueditor.modal.label') }}:</label>
                            <input type="text" class="form-control" id="field-label">
                        </div>
                        <div class="form-group">
                            <label for="field-value" class="control-label">{{ __('menueditor.modal.value') }}:</label>
                            <textarea class="form-control" id="field-value"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ __('menueditor.modal.close') }}</button>
                    <button type="button" class="btn btn-primary" id="add-new-field">{{ __('menueditor.modal.add') }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
