{% extends "_base/_page-nav.twig" %}

{% block page_title %}
<form type="post" class="saveform" method="post">
    <input type="hidden" name="menus" value="">
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save menus <i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </div>
</form>
{{ __('Menueditor')}} 
{% endblock %}
{% block page_nav 'Settings/Extensions' %}

{% macro menuitem(menuitem, id, config) %}
    <li class="mjs-nestedSortable-expanded"{% for key, value in menuitem|merge(config.fields) if key not in ['submenu'] %}data-{{key}}="{{value}}"{% endfor %} id="menuitem-{{id}}">
        <div>
            <div class="flex-row">
                <span title="Click to show/hide children" class="no-grow disclose"><i class="fa fa-minus" aria-hidden="true"></i></span>
                <span title="Click to show/hide item editor" class="no-grow expandEditor"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
                <span class="itemTitle">{{menuitem.label}}</span>
                <span title="Click to delete item." class="no-grow deleteMenu"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
            </div>

            <div class="form-horizontal editor" style="display:none;">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Label</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="label" name="label" value="{{menuitem.label}}">
                    </div>
                </div>
                {% for key, value in menuitem|merge(config.fields) if key not in ['submenu', 'label'] %}
                    <div class="form-group">
                        <label class="col-sm-2 control-label">{{key|humanize}}</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="{{key}}" name="{{key}}" value="{{value}}">
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <ol>
            {% for submenuitem in menuitem.submenu %}
                {% set id = id ~ '-' ~ loop.index %}
                {{ _self.menuitem(submenuitem, id, config)}}
            {% endfor %}
        </ol>
        
    </li>
{% endmacro %}

{% block page_main %}
    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-tabs" role="tablist">
                {% for name, menu in menus %}
                    <li role="presentation" class="{{loop.first ? 'active'}}"><a href="#{{name}}" aria-controls="{{name}}" role="tab" data-toggle="tab">{{name}}</a></li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for name, menu in menus %}
                    <div role="tabpanel" class="tab-pane {{loop.first ? 'active'}}" id="{{name}}">
                        <ol class="sortable">
                            {% for menuitem in menu %}
                                {{ _self.menuitem(menuitem, loop.index, config)}}
                            {% endfor %}
                        </ol>
                    </div>
                {% endfor %}
            </div>
        </div>

        <aside class="col-md-4">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#add-menu-item" aria-controls="add-menu-item" role="tab" data-toggle="tab">Add menu item</a></li>
                {% if config.backups.enable %}
                    <li role="presentation" class=""><a href="#restore-backups" aria-controls="restore-backups" role="tab" data-toggle="tab">Restore backups</a></li>
                {% endif %}
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="add-menu-item">
                    <form class="form-horizontal additem">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="col-sm-2 control-label">Label</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="label (optional)" name="label">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="col-sm-2 control-label">Link/Path</label>
                            <div class="col-sm-10">
                                <select class="js-data-example-ajax" name="link" style="width: 100%;">
                                    {% for item in items %}
                                        <option value="{{ item.link }}">{{item.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                {% if config.backups.enable %}
                    <div role="tabpanel" class="tab-pane" id="restore-backups">
                        {% if backups %}
                            <table class="table">
                                <tr>
                                    <th>From
                                    <th>Date
                                    <th>
                                {% for backup in backups %}
                                    <tr>
                                        <td>{{backup.carbon.diffForHumans()}}
                                        <td>{{backup.carbon.toDateTimeString()}}
                                        <td>
                                            <form method="post">
                                                <input type="hidden" name="backup" value="{{backup.filename}}">
                                                <button type="submit" class="btn btn-warning btn-xs">Restore</button>
                                            </form>
                                {% endfor %}
                            </table>
                        {% else %}
                            <p>No backups yet, backups are created automatically when you save the menu.</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </aside>
    </div>
{% endblock %}
